* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(to bottom, #874d86, #dac8c8);
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
  }
  
  .logo {
    text-align: center;
    border: 1px solid #222020;
    border-radius: 50%;
    padding: 5px; 
    margin-bottom: 5px;
  }
  
  
  .logo img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .input-box {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
  }
  
  .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #ccc;
  }
  
  .input-box input:focus + .underline {
    background-color: #000;
  }
  
  .input-box input[type="submit"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
  
  .text {
    text-align: center;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  .github,
  .twitter,
  .facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .github a,
  .twitter a,
  .facebook a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
  }
  
  .github i,
  .twitter i,
  .facebook i {
    margin-right: 5px;
  }
  
  
  
  
  
